/* .calHeight {
  height: 45vh;
} */
/* .rbc-allday-cell {
  display: none;
}

.rbc-m-b-negative-3 {
  display: none;
}

.rbc-button-link {
  font-weight: bold;
}
.rbc-today {
  background-color: transparent !important;
} */

/* Remove Sunday in month view --> Fehler: Event align not correctly*/
/* .rbc-month-header > :last-child {
  display: none;
}

.rbc-row-segment {
  flex-basis: 20% !important;
  max-width: 20% !important;
}

.rbc-month-row > .rbc-row-bg > :last-child {
  display: none;
}

.rbc-row-content > .rbc-row > .rbc-date-cell:last-child {
  display: none;
} */
